* {
	margin: 0;
	padding: 0;
	font-family: "Arial";
}
body {
	background-color: rgb(161, 231, 161);
}
#title {
	width: 100%;
	height: 10vh;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
}

.apple_img {
	z-index: 99;
	width: 100%;
	margin: auto;
	border-radius: 50px;
}

table,
td,
th {
	border-collapse: collapse;
}

#game_window {
	width: 1200px;
	border: 5px solid black;
	margin: auto;
	border-radius: 15px;
	background-color: #fff;
	user-select: none;
}

#title {
	display: flex;
	align-items: center;
	justify-content: center;
}
#title > * {
	margin: 0 10px;
}
#score {
	text-align: center;
	margin: 15px 0;
}
#start_button {
	margin: auto;
	display: block;
	width: 150px;
	height: 50px;
	font-size: 150%;
	font-weight: bold;
}
#vol_controls {
	margin: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#vol_controls > label {
	font-weight: bold;
	margin: 0 15px;
}
#timer {
	width: 15px;
	position: absolute;
	right: 15px;
	top: 12.5%;
	height: 75%;
	border: 5px solid black;
	border-radius: 15px;
	padding: 5px;
}

#timer_bg {
	height: 100%;
	background-color: red;
	border-radius: 15px;
}
#timer_val {
	background-color: #fff;
	height: 0%;
	border-radius: 15px;
	transition: height 0.1s linear;
}

#ending_screen {
	width: 25%;
	height: 25%;
	position: relative;
	left: 37.5%;
	top: 37.5%;
	background-color: white;
	border-radius: 15px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#ending_screen * {
	text-align: center;
	font-size: 200%;
}
#ending_screen > * {
	margin: 10px;
}
#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #0005;
	display: none;
}

.apple_icon {
	height: 75%;
}
#explanation {
	margin: 15% auto;
	width: 45%;
	padding: 25px;
	background-color: #fff;
	border-radius: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#explanation > * {
	margin: 10px;
	font-size: 150%;
	text-align: justify;
}

#explain {
	float: left;
}
#explain::after {
	clear: both;
}
#explain:hover {
	cursor: pointer;
	color: white;
}
